<launch>
    <!--Load parameters from params.yaml-->
    <rosparam command="load" file="$(find se3_lio)/ros1/config/params.yaml"/>

    <!--Run the lio_node-->
    <node pkg="se3_lio" type="lio_node" name="lio_node" output="screen"/>

    <!--Launch RViz for visualization-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find se3_lio)/ros1/rviz/rviz.rviz" output="screen"/>
</launch>